{{!-- ./views/partials/header.hbs --}}

<div class="relative bg-gray-50">
		<div class="relative bg-white shadow">
			<div class="max-w-7xl mx-auto px-4 sm:px-6">
				<div class="flex justify-evenly items-center py-6">
					<div class="flex justify-start">
						<a href="#">
							
							<img class="h-8 w-auto sm:h-10"
								src="https://i.ibb.co/8s2CtZx/logo-Andares.png" alt="">
						</a>
					</div>
					
				
					<div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0" style="justify-content: space-evenly;">
						{{#if currentUser}}
						<a href="/" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
							Home
						</a>
					
						
						
                     <a href="/users/myRoute" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                       Subir mi ruta
                             </a>
						
						<a href="/createdRoutes/allRoutes" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                       Explorar rutas
                      </a>

                     <p>
                     Bienvenido
					 <a href="/users/profile" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
						{{currentUser.username}} 
						</a>
					  </p>	
						<a href="/logout"
							class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-yellow-600 hover:bg-yellow-700">
							Logout
						</a>
						{{else}}
						<a href="/" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
							Home
						</a>
						
						<a href="/createdRoutes/allRoutes" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                       Explorar rutas
                      </a>
                       
						<a href="/login" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
							Inicia Sesión
						</a>
						<a href="/signup"
							class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-yellow-600 hover:bg-yellow-700">
							Regístrate
						</a>
						{{/if}}

					</div>
				</div>
			</div>
		</div>
	</div>