{{#with data}}
<h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
					<span class="block xl:inline">
                        {{title}}
                    </span>
				</h1>



{{/with}}
