{{!-- ./views/books/create --}}
<h1>Crear Perfil</h1>

<form action="/users/create" method="POST">

	<label>Foto</label>
	<input type="text" name="photo" />

	<br />

	<label>Nombre</label>
	<input type="text" name="nombre" />

	<br />

	<label>Apellido</label>
	<input type="text" name="apellido" />

	<br />

	<label>Usuario</label>
	<input type="text" name="usuario" />

	<br />

  <label>Edad</label>
	<input type="number" name="edad" />

	<br />

  <label>País</label>
	<input type="text" name="pais" />

	<br />

  <label>Nivel</label>
	<input type="text" name="nivel" />

	<br />

	<button type="submit">Crear Perfil</button>

</form>