<h1>Subir una nueva Ruta</h1>

<form action="myRoute" method="POST" class="space-y-8 divide-y divide-gray-200" >
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>

     <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Comparte una nueva Ruta
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Tu nombre de usuario se mostrará en tu ruta.
        </p>
      </div>
      <div class="space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="title" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Título de Ruta
         </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="title" id="title" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="state" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Estado del país
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="state" id="state" autocomplete="address-level1" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="town" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Pueblos cercanos
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="town" id="town" autocomplete="address-level1" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="altitude" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Altitud
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="number" name="altitude" id="altitude"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
 
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="lodging" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Hospedaje
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input id="lodging" name="lodging" type="text" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="magicTown" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Pueblo mágico
          </label>
           <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="magicTown" id="magicTown" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="hardness" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
          Dificultad
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="number" name="hardness" id="hardness" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

         <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Descripción
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <textarea id="description" name="description" rows="3" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border border-gray-300 rounded-md"></textarea>
            <p class="mt-2 text-sm text-gray-500">Describe como fue la ruta, dificultades, tips, etc</p>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="imgUrl" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Imagenes (hasta 6 fotos)
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="imgUrl1" id="imgUrl1"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
              <input type="text" name="imgUrl2" id="imgUrl2"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                <input type="text" name="imgUrl3" id="imgUrl3"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                  <input type="text" name="imgUrl4" id="imgUrl4"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                    <input type="text" name="imgUrl5" id="imgUrl5"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                      <input type="text" name="imgUrl6" id="imgUrl6"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
    </div>
    </div>

   <div class="pt-5">
    <div class="flex justify-end">
      <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Eliminar
      </button>
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-yellow-500 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
        Subir mi ruta
      </button>
    </div>
  </div>
</div>
</div>
</div>

</form>

