


{{!-- ./views/books/list.hbs --}}
<h1>Perfil</h1>

<a href="/users/create"> <button>Crear Perfil</button> </a>

<ul>
{{#each data}}
	
	<li>

		<p>{{this._id}}</p>
		<h1>{{this.nombre}}</h1>
		
		{{!-- <a href="/users/{{this._id}}/edit">
			Editar
		</a>

		<form method="POST" action="/users/{{this._id}}/delete">
			<button>Borrar</button>
		</form> --}}

	</li>
	

{{/each}}
</ul>